---
---
<!-- _layouts/bib.html -->

    <div class="publications">
        <p style="width:100%; text-align: justify;">
            {%- for author in entry.author_array -%}
            {%- assign author_is_self = false -%}
            {%- if author.last == site.scholar.last_name%}
              {%- if site.scholar.first_name contains author.first -%}
                {%- assign author_is_self = true -%}
              {%- endif -%}
            {%- endif -%}
            {%- assign coauthor_url = nil -%}
            {%- if site.data.coauthors[author.last] -%}
              {%- for coauthor in site.data.coauthors[author.last] -%}
                {%- if coauthor.firstname contains author.first -%}
                  {%- assign coauthor_url = coauthor.url -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
            
            {%- if forloop.length == 1 -%}
              {%- if author_is_self %}
                {{author.last}}, {{author.first}}
              {%- else -%}
                {{author.last}}, {{author.first}}
              {%- endif -%}
            {%- else -%}
              {%- unless forloop.last -%}
                {% if author_is_self %}
                  {{author.last}} {{author.first}},&nbsp;
                {%- else -%}
                    {{author.last}} {{author.first}},&nbsp;
                {%- endif -%}
              {%- else -%}
                {% if author_is_self -%}
                  and {{author.last}} {{author.first}}.
                {% else -%}
                    and {{author.last}} {{author.first}}.
                {%- endif -%}
              {%- endunless -%}
            {%- endif -%}
          {%- endfor %}
            {%- if entry.pdf %}
                {% if entry.pdf contains '://' -%}
                    <a href="{{ entry.pdf }}">&#8220;{{entry.title}}, &#8221;</a>
                {%- else -%}
                    <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}">&#8221;{{entry.title}}, &#8221;</a>
                {%- endif %}
            {%- endif %}
            {% if entry.type == "article" -%}
                in {{entry.journal}}.
            {%- elsif entry.type == "inproceedings" -%}
                in the {{entry.booktitle}}.
            {%- else -%}
                {%- capture entrytype -%}{%- endcapture -%}
            {%- endif -%}

            {%- if entry.slides %}
                {% if entry.slides contains '://' -%}
                <a href="{{ entry.slides }}">[presentation slides]</a>
                {%- else -%}
                <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}">[presentation slides]</a>
                {%- endif %}
            {%- endif %}
            {%- if entry.code %}
            <a href="{{ entry.code }}">[code]</a>
            {%- endif %}
        </p>
    </div>
